*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-baslik{
    background-color: #FC997C;
    padding: 15px;  
}
.header-baslik__logo{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.header-nav{
    display: inline-block;
    width: calc(100% - 113px);
}

.header-nav__items{
    list-style-type: none;
    text-align: right;
    
}

.header-nav__item{
    display: inline-block;
    padding: 7px;
}

.header-nav__item a{
    text-decoration: none;
    color: white;
}

.header-nav__item a::before{
    content: '\2023';
    padding-right: 5px;
}

.header-nav__item a:hover{
    color: #2E4C6D;
}

.header-nav__item_login a::before{
    content: none;
}

.header-nav__item_login{
    border: 2px solid white;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    background-color: #2E4C6D;
}
.header-nav__item_login:hover{
    background-color: white;
    border: 2px solid #2E4C6D;
    border-radius: 5px;
}

.main-header{
    padding:40px 0 0 15px;

}

.main-section-1{
    background: url(home-bg.jpeg);
    background-position: center;
    height: 500px;
    background-size: cover;
}

.main-section-2{
    margin-top: 40px;
    text-align: center;
}

.col{
    display: inline-block;
    width: 33%;
    height: 150px;
   margin-top: 20px;
    padding: 30px;
}

.main-section-2__head{
    font-size: 30px;
    color: #3e4555;
    padding-bottom: 20px;
}

.sembol{
    font-size: 50px;
    padding-bottom: 30px;
    color: #FC997C;
}

.main-section-3{
   margin-top: 100px;
}

.main-section-3__image{
    width: 49%;
    height: 300px;
    display: inline-block;
    ;
    vertical-align: top;
    ;
    background: url(features.jpeg);
    background-position: top center;
    background-size: cover;
}

.main-section-3__contents{
    width: 49%;
    height: 300px;
    display: inline-block;
    ;
    padding:50px 0 20px 20px;
    background-color:#edf5f7 ;
}

.main-section-3__contents__head{
    padding-bottom: 30px;
    font-size: 30px;
}

.main-section-3__contents a{
    display: inline-block;
    margin-top: 30px;
    border: 1px solid #FC997C;
    border-radius: 3px;
    padding: 5px;
    background-color: #FC997C;
    color: white;
    text-decoration: none;
}

.main-section-3__contents a:hover{
    background-color: white;
    color: #FC997C;
}

.main-section-4{
    margin-top: 80px;
    text-align: center;
}

.col-2{
    display:inline-block;
    width: 30%;
    background-color: #edf5f7;
    height: 300px;
    border-radius: 20px;
    padding:10px;
    margin: 5px;
}
.main-section-4 ul{
    margin-left: 50px;
    padding-bottom: 20px;
}

.main-section-4__head{
    padding: 10px;
}
.button{
   text-decoration: none;
   border: 2px solid grey;
   border-radius:3px;
   background-color:rgb(248, 233, 233);
   color: black;
   padding: 5px;
}
.button:hover{
    background-color: #3e4555;
    color: white;
}